.back-button-fixed {
    position: fixed;
    top: 10%;
    left: 2%;
    background: none;
    border: none;
    
    color: inherit;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000; 
  }
  
