#footer {
  background-color: var(--background-dark-color); 
  color: var(--primary-color); 
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.3rem;
}

.footer-icon {
  margin-right: 5px;
  color: var(--primary-color); 
}


body.dark-theme #footer {
  background-color: var(--background-dark-color);
  color: var(--text-light-color);
}

body.dark-theme .footer-icon {
  color: var(--text-light-color); 
}

