.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 .5px 2px rgba(0, 0, 0, 0.1);
}

.nav-title-link {
  color: black;
  text-decoration: none;
}

.nav-title-link:hover {
  text-decoration: underline;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}


.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  padding: 8px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s;
}


@media (max-width: 800px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: white;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links a {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
